@media (min-width: 1024px) {
  /* Header */

  .nav-hamburger,
  .nav-cart {
    display: none;
  }

  .nav-part1 {
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 2rem + 1vw, 3.5rem);
  }

  .nav-part1 a {
    font-family: Reckless;
    font-weight: 100;
    font-size: clamp(2.2rem, 1.5rem + 1vw, 2.5rem);
  }

  .review {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .nav-part2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    text-transform: uppercase;
  }

  .nav-part2 a {
    font-family: Roboto;
    font-weight: 900;
    font-size: clamp(1rem, 0.7rem + 0.5vw, 1.2rem);
  }

  /* Hero Section */

  .hero {
    display: flex;
    align-items: end;
    justify-content: start;
  }

  .hero-content {
    left: 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    padding-left: 3rem;
    max-width: 40%;
  }

  .hero-content button {
    width: fit-content;
  }
}
