body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  max-width: 65ch;
}

.container {
  width: min(90%, var(--container-width));
  margin-inline: auto;
}

.section {
  padding: 4rem 4rem;
}

/* Header */

header {
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-navbar);
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-nav-bg);
  padding: 1rem 2.5rem;
}

.nav-part1,
.nav-part2 {
  display: none;
}

.nav-logo img {
  height: auto;
}

.nav-hamburger i {
  font-size: 3.5rem;
  font-weight: 100;
}

.nav-cart svg {
  height: 5rem;
}
